<h1> Log In </h1>
<form method="post" action='/users/log_in'>
    <input type='email' name='email' placeholder='Email' require>
    <input type='password'name='password' placeholder='password' require>
    <input type='submit' value='Log In'>
</form>
