<h1>Make a new quick pick</h1>
<h2>based on current train information</h2>

<form action='/quick_picks/new' method='post'>
    <input type="text" name='alias' placeholder='Pick a nickname for your quick pick'>
    <select name='station'>
        <%@trains.collect{|train| train['STATION']}.uniq.sort.each do |station|%>
            <option value='<%=station%>' name='<%=station%>'> <%=station%></option>
        <%end%>
    </select>
    <input type='submit' value='NEXT'>
</form>
