<h1>This Page doesn't exist</h1>
<%if logged_in?%>
    <a href='/quick_picks'>Return to your Quick Picks</a>
<%else%>
    <a href='/users/sign_up'>Sign Up</a>

    <a href='/users/log_in'>Log In</a>
<%end%>
